body {
  margin:0px;
  background-image:url('../../images/查询结果1/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:58px;
  width:96px;
  height:41px;
}
#u313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
  background-color:rgba(51, 102, 153, 0.807843137254902);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315 {
  position:absolute;
  left:558px;
  top:97px;
}
#u315_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-image:none;
}
#u315_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
}
#u316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u315_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u315_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
}
#u317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.466666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:573px;
  width:1275px;
  height:39px;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  word-wrap:break-word;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:2px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:571px;
  width:1247px;
  height:1px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
  text-align:left;
}
.u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u322-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:510px;
  height:30px;
}
#u322-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:510px;
  height:30px;
}
#u322-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:510px;
  height:30px;
}
#u322-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:510px;
  height:30px;
}
#u322-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:510px;
  height:30px;
}
#u322-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:510px;
  height:30px;
}
#u322-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:510px;
  height:30px;
}
#u322-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:510px;
  height:30px;
}
#u322-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:510px;
  height:30px;
}
#u322-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:510px;
  height:30px;
}
#u322-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:510px;
  height:30px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:97px;
  width:510px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:58px;
  width:510px;
  height:41px;
}
#u324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:173px;
  width:50px;
  height:40px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:33px;
  width:64px;
  height:60px;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:156px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:184px;
  height:156px;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:55px;
  width:191px;
  height:58px;
}
#u329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
  background-color:transparent;
  font-family:'华文行楷 Oblique', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:48px;
  text-decoration:none;
  color:#003300;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.27843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:33px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:0px;
  width:132px;
  height:30px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:0px;
  width:97px;
  height:30px;
}
#u334_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334.mouseOver {
}
#u334_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334.mouseDown {
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:0px;
  width:97px;
  height:30px;
}
#u335_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335.mouseOver {
}
#u335_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 204, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335.mouseDown {
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.27843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:166px;
  width:1100px;
  height:384px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:142px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:166px;
  width:118px;
  height:142px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:225px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:312px;
  width:1px;
  height:224px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:2px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:183px;
  width:946px;
  height:1px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:354px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:183px;
  width:1px;
  height:353px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:2px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:535px;
  width:1053px;
  height:1px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:194px;
  width:731px;
  height:48px;
  text-decoration:underline;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:312px;
  width:731px;
  height:176px;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:264px;
  width:114px;
  height:32px;
  font-size:28px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:2px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:280px;
  width:617px;
  height:1px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:382px;
  width:68px;
  height:20px;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:352px;
  width:108px;
  height:27px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:324px;
  width:108px;
  height:27px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:366px;
  width:289px;
  height:131px;
  overflow:hidden;
  visibility:hidden;
}
#u353_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:131px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u353_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:131px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:131px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:131px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:382px;
  width:68px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:419px;
  width:68px;
  height:22px;
  color:#0000FF;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:505px;
  width:144px;
  height:31px;
  text-decoration:underline;
}
#u359_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u359.mouseOver {
}
#u359_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u359.mouseDown {
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
